* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Space Mono", monospace;
}

:root {
  --light-cyan: rgb(203, 234, 237);
  --very-light-cyan: rgb(240, 255, 255);
  --very-dark-cyan: rgb(0, 73, 77);
  --dark-grayish-cyan: rgb(94, 122, 125);
  --grayish-cyan: rgb(174, 206, 209);
  --light-grayish-cyan: rgb(221, 244, 247);
  --cyan: rgb(103, 221, 194);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--light-cyan);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
  letter-spacing: 8px;
  color: var(--dark-grayish-cyan);
  margin: 40px;
}

section {
  display: flex;
  flex-direction: row;
  background-color: var(--very-light-cyan);
  width: 900px;
  height: 450px;
  border-radius: 25px;
  margin-top: 40px;
}

/* -------------------------------------------------- Left Column -------------------------------------------- */

.column-left,
.column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 35px;
  border-radius: 10px;
}

.column-left {
  margin-right: 20px;
}

.column-right {
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-cyan);
}

.column-left p {
  color: var(--dark-grayish-cyan);
  margin-bottom: -25px;
}

input[type="number"] {
  background-color: var(--light-grayish-cyan);
  border: none;
  border-radius: 5px;
  height: 40px;
  /* margin-top: 5px; */
  /* margin-bottom: 10px; */
  padding: 10px;
  text-align: right;
  font-size: 20px;
  color: var(--very-dark-cyan);
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.bill-amount {
  background-image: url("./images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
}

.number-of-people {
  background-image: url("./images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
}

/*This is for the tips and button */
/*--------------------------------------*/
.tips {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.tips button {
  padding: 0.7rem;
  border: none;
  background: hsl(183, 100%, 15%);
  font-size: 1rem;
  color: white;
  border-radius: 0.35rem;
  font-family: inherit;
  cursor: pointer;
}

.tips button:hover {
  background: hsl(172, 67%, 45%);
  color: black;
}

.tips input {
  background: hsl(189, 41%, 97%);
  font-size: 1rem;
  text-align: right;
  padding: 0.7rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.35rem;
  font-family: inherit;
  letter-spacing: 0.1rem;
  color: hsl(183, 100%, 15%);
  border: 0.13rem solid hsl(189, 41%, 97%);
}

.tips input:not(:hover),
.tip input:not(:focus) {
  outline: none;
}

.tips input:hover,
.tip input:focus {
  outline: 0.13rem solid hsl(172, 67%, 45%);
}

.tips input::placeholder {
  color: hsl(186, 14%, 43%);
}

/* -------------------------------------------------- Right Column -------------------------------------------- */
.tip-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  color: var(--light-grayish-cyan);
  margin: 10px;
}

.tip-heading {
  display: flex;
  flex-direction: column;
}

.tip-amount {
  font-size: 15px;
}

.tip-amount-per-person {
  font-size: 10px;
  color: var(--grayish-cyan);
}

.tip-amount-display {
  font-size: 40px;
  color: var(--cyan);
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  color: var(--light-grayish-cyan);
  margin: 10px;
}

.total-amount {
  font-size: 15px;
}

.total-amount-per-person {
  font-size: 10px;
  color: var(--grayish-cyan);
}

.total-amount-display {
  font-size: 40px;
  color: var(--cyan);
}

.reset {
  position: relative;
  justify-content: flex-end;
  background-color: var(--cyan);
  color: var(--very-dark-cyan);
  width: 80%;
  height: 40px;
  bottom: 0px;
  border-radius: 5px;
  border: none;
  margin-top: 50px;
  font-size: 15px;
  font-weight: 700;
  margin-top: 75px;
}

.reset:hover {
  cursor: pointer;
  background-color: var(--very-light-cyan);
}

.reset:active {
  background-color: var(--cyan);
}

.reset:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.error {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error span:last-child {
  color: hsla(0, 83%, 44%, 0.714);
  display: none;
}

/* -------------------------------------------------- Media Queries -------------------------------------------- */

@media screen and (max-width: 375px) {
  main {
    justify-content: flex-end;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  section {
    width: 375px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    margin-top: 35px;
  }

  .column-left,
  .column-right {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 85%;
    margin: 10px;
  }

  .column-left {
    justify-content: center;
  }

  .column-right {
    width: 90%;
    height: 250px;
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .total-container {
    margin-bottom: 0px;
  }

  .reset {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}
